<ion-header [translucent]="true">
  <ion-toolbar class="ion-no-padding">
    <ion-title>
    Campus Track 2020 - MHN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="12">
        <div id="slider-mail">

          <p *ngIf="mailSend() > 1"><span class="bold">{{mailSend()}} mails</span></p>
          <p *ngIf="mailSend() <= 1"><span class="bold">{{mailSend()}} mail</span></p>
          <!--
          <p *ngIf="mailSend() > 1"><span class="bold">{{mailSend()}} mails</span></p>
          <p *ngIf="mailSend() <= 1"><span class="bold">{{mailSend()}} mail</span></p>
          -->
            <ion-range (ionChange)="mailSend()" [(ngModel)]="resultat" value="500000" min="0" max="1000000" step="10" color="secondary">
              <ion-label slot="start">0</ion-label>
              <ion-label slot="end">1000000</ion-label>
            </ion-range>

          <p *ngIf="mailSend() > 1">L'émission de C02 pour l'envoi de <span class="bold">{{mailSend()}} mails</span> est de <span class="bold">{{mailEmission()}} g</span> en moyenne.</p>
          <p *ngIf="mailSend() <= 1">L'émission de C02 pour l'envoi de <span class="bold">{{mailSend()}} mail</span> est de <span class="bold">{{mailEmission()}} g</span> en moyenne.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding ion-justify-content-center">
      <ion-col class="ion-text-center" size="12">
        <h2 class="green">Comparaisons</h2>
      </ion-col>

      <ion-col class="ion-text-center" size="12">
        <ion-item class="ion-text-center" lines="none" *ngFor="let item of appareils; let i = index">
          <ion-label style="white-space: normal" *ngIf="mailSend() > 1"><span class="bold">{{mailSend()}} <ion-icon src="../assets/icon/mail.svg"></ion-icon> </span>  =<span class="bold">{{calculEmission(item.emission)}}<ion-icon class="icon" src="{{item.src}}">&nbsp;</ion-icon></span> en termes d'émission de C02.</ion-label>
          <ion-label style="white-space: normal" *ngIf="mailSend() <= 1"><span class="bold">{{mailSend()}} <ion-icon src="../assets/icon/mail.svg"></ion-icon></span>  = <span class="bold">{{calculEmission(item.emission)}}<ion-icon class="icon" src="{{item.src}}">&nbsp;</ion-icon></span> en termes d'émission de C02.</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <hr class="line">
<!--
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-col class="ion-text-center" size="12">
        <ion-item class="ion-text-center" lines="none" *ngFor="let item of appareilsByHours; let i = index">
          <ion-label *ngIf="item.genre == 'feminin'">Une <ion-icon src="{{item.src}}"></ion-icon> consomme l'équivalent de <span class="bold">{{item.emission}} kg</span> de C02 par heure en termes d'émission de C02.</ion-label>
          <ion-label *ngIf="item.genre == 'masculin'">Un <ion-icon src="{{item.src}}"></ion-icon> consomme l'équivalent de <span class="bold">{{item.emission}} kg</span> de C02 par heure en termes d'émission de C02.</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
-->
    <ion-slides #mySlider loop="true" pager="true" [options]="slideOpts" (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
      <ion-slide>
        <p class="text-slider">281 milliards = nombre d'emails envoyés chaque jour dans le monde</p>
      </ion-slide>

      <ion-slide>
        <p class="text-slider">34 millions : nombre de mails envoyés toutes les heures (hors spam). L’équivalent de 14 tonnes de pétrole.</p>
      </ion-slide>

      <ion-slide>
        <p class="text-slider">431 166 240 : nombre de kilos CO2 émis par heure à cause des mails</p>
      </ion-slide>

      <ion-slide>
        <p class="text-slider">60% : pourcentage des mails jamais ouverts.</p>
      </ion-slide>

      <ion-slide>
        <p class="text-slider">Une requête Google = une ampoule de 60 W allumée pendant 17 secondes</p>
      </ion-slide>

      <ion-slide>
        <p class="text-slider">Une photo de vacances de 1 Mo à 10 amis = 500 mètres en voiture</p>
      </ion-slide>

      <ion-slide>
        <p class="text-slider">4% : part des émissions de CO2 mondiales imputable à la pollution digitale. Dans cinq ans, ce sera 6%.</p>
      </ion-slide>

      <ion-slide>
        <p class="text-slider">2020 : première année ou la pollution digitale a dépassée celle de l’aviation civile.</p>
      </ion-slide>

      <ion-slide>
        <p class="text-slider">10% : part de l’électricité consommée par les data centers en France.</p>
      </ion-slide>

      <ion-slide>
        <p class="text-slider">15 000 km = la distance moyenne parcourue par un e-mail</p>
      </ion-slide>

    </ion-slides>
  </ion-grid>
</ion-content>
