#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}


/***** CUSTOM CSS *****/

* {
  font-family: 'Montserrat';
}

/*** HEADER ***/

ion-header {
  background-color: forestgreen;
  color: forestgreen;
}

ion-toolbar {
  background-color: forestgreen;
  color: forestgreen;
}

ion-title {
  margin: 10px;
  text-align: center;
}

/*** CONTENT ***/

.green {
  color: forestgreen;
}

.bold {
  font-weight: bold;
}

ion-range.ion-color {
  color: forestgreen;
}
ion-item {
  width: 100%;
}

hr.line {
  background-color: forestgreen;
  width: 40%;
}

ion-slides {
  --bullet-background: blue;
  padding-bottom: 10px;
}

.text-slider {
  font-size: 14px;
}